body {
    font-family: 'Roboto', sans-serif;
    background-image: url(../images/body_bg.png);
}
.header_container {
    height: 50px;
    width: 100%;
    background-color: red;
}

.user_information {
    display: flex;
    justify-content: center;
    text-align: center;
}

.user_actions a {
    height: auto;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.user_actions a img{
    height: 100px;
    width: 100px;
}

/* Media */

@media screen and (min-width: 576px) {
    .user_information {
        height: 30vh;
    }
    .header_container {
        padding: 0;
    }
    .user_information {
        margin: 25px;
    }
    .user_actions {
        margin-top: 25px;
    }
}

@media screen and (min-width: 1200px) {
    .user_information {
        height: 20vh;
    }
    .user_actions a {
        margin: 0 0 0 0;
        padding: 0;
    }
}
