@import url('./body.css');

.user_information {
    display: flex;
    width: 100%;
    height: 30vh;
    justify-content: center;
    text-align: center;
    color: 	#FFA500;
    margin-top: 25px;
}

.user_container_img {
    display: flex;
    flex-flow: column wrap;
    align-content: center;    
    text-decoration: none;
    margin-bottom: 25px;
    width: 100%;
}

.user_actions a {
    margin-bottom: 15px;
    text-decoration: none;
}
.action_container {
    width: 25%;
}

.user_actions a img {
    width: 100px;
}
/* Media */

@media screen and (min-width: 576px) {
    .user_information {
        height: 30vh;
    }
    .user_container_img {
        display: flex;
    }
}

@media screen and (min-width: 1200px) {
    .user_information {
        height: 20vh;
    }
}
