@import url('./body.css');

header {
    height: 30vh;
}

.logo {
    width: 250px;
}

.btn {
    margin-left: 15px;
}

.row {
    max-width: 700px;
}
.container h1 {
    color: #FFA500;
}

.input_containe {
    margin-bottom: 15px
}