@import url('./body.css');

header {
    height: 30vh;
}
.container-transacción {
    max-width: 700px;
}
h2 {
    color: #FFA500;
}

.buttons_container {
    margin-top: 15px;
}

.buttons_container a {
    width: 100%;
    margin-bottom: 15px;
}

/* ERROR */
.container_error {
    width: auto;
}
.img_container_error {
    max-width: 300px;
}

.img_container_error img {
    width: 100%;
}