.img_container {
    display: flex;
    height: 30vh;
    margin-bottom: 20px;
    margin-top: 20px;
    justify-content: center;
}

.img_container img {
    height: 100%;
}

.input_container {
    width: 90%;
}

.input_container .input_name {
    margin-bottom: 15px;
}

.input_container .input_pin {
    margin-bottom: 15px;
}

/* ----------- Dentro ----------- */

