@import url('./body.css');

.img_container {
    display: flex;
    height: 30vh;
    margin-bottom: 20px;
    margin-top: 20px;
    justify-content: center;
}


.input_container .input_name {
    margin-bottom: 15px;
}

.input_container .input_pin {
    margin-bottom: 15px;
}

/* ----------- SM ----------- */

@media screen and (min-width: 576px) {
    .img_container {
        width: 40vh;
    }
    section .imput_container {
        height: 30%;
    }
}

/* ----------- MD ----------- */

@media screen and (min-width: 768px) {
    .img_container {
        width: 40vh;
    }
    .input_container {
        width: 50%;
    }
}